# fly.toml app configuration file generated for grpconf-india-2025 on 2025-10-13T09:21:37+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'grpconf-india-2025'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3999
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
